MONGODB_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=<appName>

PORT=5001

# number of trusted proxies in front of the app
TRUST_PROXY=0

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=15m

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=7d

ADMIN_LOGIN=
ADMIN_PASSWORD=

EMAIL_ADDRESS=
EMAIL_PASSWORD=
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465

APP_URL=https://<url-for-email-confirmation>

EMAIL_CONFIRM_EXPIRES_IN_MINS=30
